.firstrow {
    display: flex;
    max-width: 22rem;
    position: relative;
    margin-top: 2%;
    margin-left: 5%;
}

@media screen and (max-width:500px) {
    .firstrow {
        display: flex;
        max-width: 90%;
        justify-content: center;
    }
}

.text {
    font-size: 50rem;
}

.Cards {
    margin-top: 20%;
    margin-left: 10%;
    position: relative;
}